/.settings
.classpath
.project
/target
build/
/libs
.jar
.txt
*.jar
*.class
*.log
/webapp/WEB-INF/pc/
webapp/WEB-INF/mobile/
webapp/WEB-INF/i18n/
webapp/WEB-INF/classes/
classes/
project/webapp/src/main/webapp/WEB-INF/pc/aj.common/index.jsp
