/.settings
.classpath
.project
/target
build/
/dist
/libs
.jar
.txt
*.jar
*.class
*.log
*.tpl
g-*.bat

/webapp/WEB-INF/pc/
webapp/WEB-INF/mobile/
webapp/WEB-INF/i18n/
webapp/WEB-INF/classes/
classes/
**/webapp/WEB-INF/pc/
**/webapp/WEB-INF/mobile/
**/webapp/WEB-INF/i18n/
