<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhe.model.RefreshMapper">
    <resultMap type="com.wangzhe.model.Refresh" id="cc_refresh">
        <result column="cc_refresh" property="Refresh" javaType="com.wangzhe.model.Refresh"/>
    </resultMap>
    
    <insert id="insert" parameterType="com.wangzhe.model.Refresh">
        insert into cc_refresh(rKeyword,rUrl,rSEType,rIp,rDate,tId,tarea)
        values(#{rKeyword},#{rUrl},#{rSEType},#{rIp},#{rDate},#{tId},#{tarea})
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>


    <select id="getRefreshByName" resultType="com.wangzhe.model.Refresh" parameterType="java.lang.String">
        select * from cc_refresh where aName=#{aName}
    </select>
    <select id="getRefreshById" resultType="com.wangzhe.model.Refresh" parameterType="java.lang.String">
        select * from cc_refresh where tId=#{tId}
    </select>
    
    <select id="getAllRefreshs" resultType="com.wangzhe.model.Refresh">
        select * from cc_refresh order by rDate DESC limit 1000
    </select>
     <select id="checkRefresh"  parameterType="com.wangzhe.model.Refresh" resultType="int">
        select count(*) from cc_refresh where tId=#{tId} and rKeyword=#{rKeyword} and rUrl=#{rUrl} and rSEType=#{rSEType}
    </select>
     <delete id="deleteRefresh" parameterType="com.wangzhe.model.Refresh">
     <![CDATA[
        delete from cc_refresh where tId=#{tId} and rKeyword=#{rKeyword} and rUrl=#{rUrl} and rSEType=#{rSEType} and rDate<=#{endDate}
         ]]>
    </delete>
     <delete id="delNDateAgoRecord" parameterType="java.util.Date">
     <![CDATA[
        delete from cc_refresh where rDate<#{endDate}
         ]]>
    </delete>
    
    <select id="getCountByIP" resultType="java.sql.Timestamp">
        select aDate from cc_refresh where aIp=#{aIp}
    </select>
     <select id="queryByRefresh" parameterType="java.util.Map" resultType="com.wangzhe.model.Refresh">
        <![CDATA[
        select * from cc_refresh where tId=#{tId} and rKeyword=#{rKeyword} and rUrl=#{rUrl} and rSEType=#{rSEType} and rDate>=#{fiftDateAgo} order by rDate DESC
        ]]>
        
    </select>

    <select id="getRefreshSize" parameterType="java.lang.String" resultType="int">
        select count(*) from cc_refresh where tId=#{tId} and date(rDate) = curdate()
    </select>
</mapper>